/*src/components/Input/InputLabel.css*/

.input-label input{
  color: #6d5223;
  background: linear-gradient(to right, #F1CA84, #ECB251);
  box-shadow: 3px 5px 0 #bb8e40;
}

.input-label input::selection{
  color: white;
}

.input-label label{
  color: #6d5223;
  background: transparent;
}

.input-label input:focus~label, .input-label input:not(:placeholder-shown)~label{
  background-color: #F1CA84;
}
