/*src/components/Logo/LogoTitle.css*/

.gradient-text {
    background: linear-gradient(to right, #F1CA84, #ECB251);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-text:last-child {
    margin-top: 5px;
    margin-left: 20px; /* desloca "Connect" para a direita */
}
