/*src/components/Header/Header.css*/

.header{
  background-color: rgba(29, 29, 29, 1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  border-radius: 0 0 15px 15px; 
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.3);
}

.fa-magnifying-glass path{
  color: #ECB251;
  transition: 0.1s;
}

button:active .fa-magnifying-glass path{
  color: #ffffff;
}

@media (max-width:400px){
  header .header-title{
    display: none;
  }
}