/*src/components/Header/Header.css*/

.header{
  background-color: rgba(29, 29, 29, 1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  border-radius: 0 0 15px 15px; 
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.3);
}

.user-avatar{
  transition: 0.3s;
}

.user-avatar:hover{
  transform: scale(+120%);
}

.user-avatar:active{
  transform: scale(90%);
}

@media (max-width:520px){
  header .header-title{
    display: none;
  }
}

@media (max-width:330px){
  header .linha{
    display: none;
  }
}