/*src/components/Header/Header.css*/

.header{
  background-color: rgba(29, 29, 29, 1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  border-radius: 0 0 15px 15px; 
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.3);
}

.icon path{
  color: #ECB251;
  transition: 0.1s;
}

button:active .icon path{
  color: #ffffff;
}

button:active{
  transform: scale(90%) !important;
}

button:hover{
  transform: scale(+115%);
}

.user-avatar{
  transition: 0.3s;
}

.user-avatar:hover{
  transform: scale(+120%);
}

@media (max-width:400px){
  header .header-title{
    display: none;
  }
}