/*src/components/Footer/Footer.css*/

footer {
  background-color: rgba(29, 29, 29, 1);
} 

.text{
  background: linear-gradient(to right, #F1CA84, #ECB251);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 1.5em !important; 
}