/*src/pages/Login/Form/Form.css*/

.login-container form{
    background-color: rgb(61, 61, 61);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
    width: 100%;
}

@media (max-width:768px){
    .login-container .sign-up form{
        background-color: rgba(29, 29, 29, 1) ;
    } 
}

.form-container span{
    background: linear-gradient(to right, #F1CA84, #ECB251);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.form-container .fa-eye path{
    color: #a87926;
}

.form-container .forgot{
    background: linear-gradient(to right, #F1CA84, #ECB251);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.form-container .forgot:hover{
    background: #ffffff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 750;
}

.form-container .button-login:hover{
  background: #ffffff;
  color: #ECB251;
  transform: scale(110%);
}